body {
    background: bisque;
}

/**/

.container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.main-title {
    color: red;
}

.meme-title {
    /*padding: 10px 10px;*/
    display: block;
    cursor: pointer;
    transition: color .2s ease-out;
}

.accordion-item {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    background-image: url("../assets/images/close.png");
}


/*.meme-title:hover + .meme-image {*/
/*    display: block;*/
/*    color: #c3c3c4;*/
/*}*/

.meme-input {
    appearance: none;
    position: absolute;
}

.meme-input:checked ~ .meme-image {
    display: block;
}

.meme-item {
    border: 1px solid #c3c3c4;
}

.meme-image {
    display: none;
    animation: imageAnimation 1s;
}

@keyframes imageAnimation {

    0% {

        opacity: 0;

    }

    100% {

        opacity: 100;

    }

}


/**/
/*.main-title {*/

/*}*/

/*.meme-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.accordion-item {*/
/*    float: right;*/
/*    font-size: 20px;*/
/*}*/

/*.meme-title {*/
/*    cursor: pointer;*/
/*    color: #e0b917;*/
/*    background: snow;*/
/*    box-sizing: border-box;*/
/*    width: 100%;*/
/*    text-align: center;*/

/*}*/

/*.meme-content {*/

/*}*/

/*.image-mem {*/

/*}*/

/*.meme-content {*/
/*    height: 0px;*/
/*    transition:height 1s ease-out;*/
/*    transform: scaleY(0);*/
/*    float:left;*/
/*}*/

/*.meme-content {*/
/*    height: 0px;*/
/*    transition:height 1s ease-out;*/
/*    transform: scaleY(0);*/
/*    float:left;*/
/*}*/

/*.open .meme-content{*/
/*    transform: scaleY(1);*/
/*    transition: transform 0.4s ease;*/
/*}*/